{% extends 'TestMainBundle::layout.html.twig' %}

{% block testmain_body %}

    <div class="well">
        <p><h2>Bienvenue sur ce site de démonstration Symfony 2.7.</h2>
            Vous y trouverez un Bundle de blog <b>réutilisable</b>, une gestion des utilisateurs sécurisée
            grâce au FOSUserBundle, et une gestion propre des entités sous-jacente.<br/><br/>
        <blockquote class="alert-info">
            L'objectif de ce site est de travailler <b>l'architecture MVC</b>, ainsi que l'utilisation de <b>frameworks
            PHP.</b>
        </blockquote>


        </p>

    </div>
{% endblock %}
