{% extends 'TestBlogBundle::layout.html.twig' %}

{% block title %}
Modifier un article - {{parent()}}
{% endblock %}

{% block testblog_body %}
<h2>Modifier un article</h2>
<p>
  NB: Vous éditez un article déjà existant, ne le changez pas trop pour éviter aux memebres de ne pas comprendre ce qu'il se passe.
</p>


  {% include 'TestBlogBundle:Blog:formulaire.html.twig' with {'target':'blog_modifier','id':article.id} %}


<p>
  <a href="{{ path('blog_voir',{'id':article.id}) }}" class="btn">
    <i class="icon-chevron-left"></i>
    Retour à l'article
  </a>
</p>

{% endblock %}
