
#main_container{
    background-image: url(../drawables/background.jpg) ;
    background-repeat: round;
}



#brand-container{
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 5%;
}

#articles-container{
    display: inline;
}

/*
* The classes
*/
.btn-block{
    padding-top: 3%;
}

.navbar-grayed{
    padding-top: 2%;
    padding-bottom: 2% ;
}

.emphasis
{
    font-weight: bold;
    color:#1d75b3;
    display: inline-block;
}

.date
{
    font-weight: bold;
    color: #1d75b3;
    display: inline;
}
.content-header
{
    padding-bottom: 1%;
    font-style: italic;
}