{% extends "::layout.html.twig" %}
{% block title %}
{{ parent() }}
{% endblock %}
{% block body %}

  <h1>Partie Principale</h1>
  {% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
      {{ flashMessage }}
    </div>
  {% endfor %}
  <hr>
  {% block testmain_body %}
  {% endblock %}
{% endblock %}
